 {% extends "layout.html" %} {% set active_page = "gdp" %} {% block content %}
<!-- Creates the Overall Grid -->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="gdp-container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
        </div>
        <div class="col-md-4">
            <h4>GDP vs % Urban Population:</h4 <br>
            This plot shows the relationship of Gross Domestic Product and % of urban population of a country for a given 
            time period. We can see that the countries that are more urbanized have higher GDP per Capita.
            We also see that the GDP changes more with 50% or greater urban population.
        </div>
    </div>
</div>

<!-- Our javascript for populating the charts -->
<script src="../static/js/gdp.js"></script>

{% endblock %}