
{% extends "layout.html" %}
{% set active_page = "index" %}


{% block content %}
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-3">Water is Wet</h1>
            <p class="lead">An Exploratory Data Analysis project to see what factors affect the development index of countries around the world</p>
            <hr class="my-4">
            <p>Comparing parameters related to water resources, agriculture, land and population over a time period against some development indicators for countries like Human Development Indicator (HDI), Gross Domestic Product (GDP), Gender Inequality Index (GII) and Prevelance of Undernourishment.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/thesis" role="button">Learn more</a>
            </p>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">HDI vs % Urban Population</div>
                        <div class="card-body">
                            <img style="height: 100%; width: 100%; display: block;" src="static/images/hdi_plot.png" alt="Scatter Plot: HDI vs % Urban Population">
                            <p class="card-text">Plot that visualizes relationship of HDI and % of urban population of a country...</p>
                            <button type="button" class="btn btn-secondary">
                                <a href="/hdi" style="color:inherit">See more</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">GDP vs % Urban Population</div>
                        <div class="card-body">
                            <img style="height: 100%; width: 100%; display: block;" src="static/images/gdp_plot.png" alt="Scatter Plot: GDP vs % Urban Population" />
                            <p class="card-text">Plot that visualizes the relationship of Gross Domestic Product and % of urban population of a country...</p>
                            <button type="button" class="btn btn-secondary">
                                <a href="/gdp" style="color:inherit">See more</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">GII vs % Urban Population</div>
                        <div class="card-body">
                            <img style="height: 100%; width: 100%; display: block;" src="static/images/gii_plot.png" alt="Scatter Plot: GII vs % Urban Population">
                            <p class="card-text">Plot that visualizes the relationship of the Gender Inequality Index and % of urban population of a country.</p>
                            <button type="button" class="btn btn-secondary">
                                <a href="/gii" style="color:inherit">See more</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">Viz 4</div>
                        <div class="card-body">
                            <img style="height: 100%; width: 100%; display: block;" src="static/images/wateriswet.jpg" alt="Scatter Plot: Lattitude v. Cloudiness">
                            <p class="card-text">Short Caption Goes Here</p>
                            <button type="button" class="btn btn-secondary">
                                <a href="/wind" style="color:inherit">Read more</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-12">
                
            </div>
        </div>
    </div>

{% endblock %}