<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" language="en-US">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Population based HDI</title>
  {% endif %}

  <!-- Bootstrap  CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      
  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- Highcharts -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>

  <!-- Our CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="styles/styles.css"> -->

</head>

<body>
  <br><br>
  <h2 class="text-center">Comparing HDI against GDP, GII and Urban Population</h1>
  <br>
  <h3 class="text-center">Scatter Plot of HDI against urbanized %</h3>
  <br><br>
  <div id="hdi-container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
  <br><br>
  <h3 class="text-center">Scatter Plot of GII against urbanized %</h3>
  <br><br>
  <div id="gii-container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
  <br><br>
  <h3 class="text-center">Scatter Plot of GDP against urbanized %</h3>
  <br><br>
  <div id="gdp-container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
  <br><br>
  <h3 class="text-center">Bubble Plot of HDI, GII against GDP %</h3>
  <br><br>
  <div id="bubble-container" style="height: 400px; min-width: 310px; max-width: 600px; margin: 0 auto"></div>
</body>

<!-- Dark Theme for Highcharts-->
<script src="../static/js/dark-unica-theme.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript from Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Our javascript for populating the charts -->
<script src="../static/js/pop-hdi-gdp-plots.js"></script>


</html>