<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" language="en-US">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Water Usage Worldwide</title>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css"></style>
    
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
    
</head>

<body>
    <div class="jumbotron" align="center">
        <h1>Summary Map</h1>
            <p class="lead">
                <button id="hdi" >HDI</button>
                <button id="pop">Pop. Density</button>
                <button id="gdp">GDP</button>
                <button id="gii">GII</button>
                <button id="safewater">Water</button>
        </p>   
        <div id="summary_map"></div>
        <div class="slidecontainer">
            <input id="yearRange" type="text" data-slider-ticks="[2000,2005,2010,2015]" data-slider-ticks-snap-bounds="2" data-slider-ticks-labels="[2000,2005,2010,2015]">
            <br>
            <span id="yearRangelabel">Year Displayed: <span id="sliderValue">2000</span></span>
            <br><br>
            
        </div>        
            
    </div>
    
</body>
<script>
    
// Managing Slider - Refer to Slider for Bootstrap (bootstrap-slider.js)
    var $slider = new Slider("#yearRange", {
        ticks:[2000,2005,2010,2015],
        ticks_labels:["2000","2005","2010","2015"],
        ticks_snap_bounds:2        
        });

    $slider.on("slideStop",function(sliderValue){
        document.getElementById("sliderValue").textContent = sliderValue;
        var updateYear = "year"+sliderValue;
        console.log("UpdateYear:"+updateYear)
        drawMap(updateYear);
        defaultYear=updateYear;
        console.log("Default Update To:"+defaultYear);
    });  
    
    
// Set Default Topic, Default Year and Title Dictionary
    var defaultYear = "year2000";
    var defaultTopic = "gii";
    var title_dict ={"gii":"Gender InEquality Index","hdi":"Human Development Index","pop_density":"Population Density","gdp_per_cap":"GDP Per Capita","perc_safe_water":"Percent Safe Water"};
        

// Draw Map Function
    function drawMap(defaultYear) {
        query_url = '/summarymap/'+defaultTopic;
        console.log(query_url);
        d3.json(query_url,function(error,response){
            if (error) console.log("Error Accessing URL");
            var code = response[defaultYear]['country_code'];
            var value = response[defaultYear]['value'];
            var min_value = Math.min.apply(Math,value);
            var max_value = Math.max.apply(Math,value);
            console.log("Max is:" + max_value);
            console.log("Min is:"+ min_value);
            var data =[];
            for (i=0;i<code.length;i++) {data.push({"code":code[i],"value":value[i]})}            

            console.log(data);

            var topicMap = Highcharts.mapChart('summary_map',{
                chart:{map:'custom/world',borderWidth:1},
                title:{text:title_dict[defaultTopic]},            
                exporting:{sourceWidth:600,sourceHeight:500},
                legend: {
                    layout: 'horizontal',
                    borderWidth: 0,
                    backgroundColor: 'rgba(255,255,255,0.85)',
                    floating: true,
                    verticalAlign: 'top',
                    y: 25
                },
                mapNavigation: {
                    enabled: true
                },
                colorAxis: {
                    min: min_value,
                    max: max_value,
                    type: 'logarithmic'
                    // minColor: '#001622',
                    // maxColor: '#000022'
                    
                },
                series: [{
                    animation: {
                        duration: 1000
                    },
                    data: data,
                    joinBy: ['iso-a2', 'code'],
                    dataLabels: {
                        enabled: true,
                        color: '#FFFFFF',
                        format: '{point.code}'
                    },
                    name: defaultTopic,
                    tooltip: {pointFormat: '{point.code}: {point.value}'}
                }]
        })
        })
        }

    drawMap(defaultYear);

// Update Map when Population Density is Clicked
    var $popdensity=document.getElementById("pop");
    $popdensity.addEventListener("click",function () {
        defaultTopic="pop_density";
        drawMap(defaultYear);
        console.log("Default Topic Updated to:"+ defaultTopic);
    })

// Update Map when HDI is Clicked
    var $hdi = document.getElementById("hdi");
    $hdi.addEventListener("click",function() {
        defaultTopic="hdi";
        drawMap(defaultYear);
        console.log("Default Topic Updated to:"+defaultTopic);
    })

// Update Map when GDP is Clicked
    var $gdp = document.getElementById("gdp");
    $gdp.addEventListener("click",function() {
        defaultTopic="gdp_per_cap";
        drawMap(defaultYear);
        console.log("Default Topic Updated to:"+defaultTopic);
    })

// Update Map when GII is Clicked
    var $gii = document.getElementById("gii");
    $gii.addEventListener("click",function() {
        defaultTopic="gii";
        drawMap(defaultYear);
        console.log("Default Topic Updated to:"+defaultTopic);
    })
// Update Map when Water is Clicked
    var $safewater = document.getElementById("safewater");
    $safewater.addEventListener("click",function() {
        defaultTopic="perc_safe_water";
        drawMap(defaultYear);
        console.log("Default Topic Updated to:"+defaultTopic);
    })
</script>

</html>